@import '_var';

@font-face {
  font-family: "fontAwesome";
  src:
    url(./font/my-font.woff2) format("woff2"),
    url(./font/my-font.woff) format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  // background-image: linear-gradient(bottom, rgb(254, 133, 107) 24%, rgb(35, 171, 17) 62%);
}

.font {
  font-family: $font-family;
  font-style: $font-style;
}

.app-header {
  font-size: $font-size -  6;
  margin-top: 5vh;
  text-align: center;
  color: $white;
}

.add-score-text,
.recent-scores-text {
  color: $white;
  font-weight: $font-weight - 700;
}

.add-score-text {
  font-size: $font-size - 8;
}

.recent-scores-text {
  font-size: $font-size - 8.5;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 0 3vw;
}

.add-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: grid;
  gap: 8px;
}

.add-button-div {
  display: flex;
  justify-content: flex-end;

  .submit-score {
    border: 1px solid $blue;
    box-shadow: 5px 5px 5px $black;
    border-radius: 20px;
  }

  .submit-score:hover {
    background-color: $red;
    border: 2px solid $black;
    box-shadow: 5px 5px 5px $white;
    color: $white;
  }

  .submit-score:active {
    background-color: $red;
    border: 2px solid $black;
    box-shadow: 5px 5px 5px $black;
    color: $white;
  }
}

.score-keeper {
  display: grid;
}

.score-keeper-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3vw;
}

.refresh-button {
  margin: 20px 0;
  border: 2px solid $black;
  box-shadow: 5px 5px 5px $black;
  border-radius: 20px;
}

.refresh-button:hover {
  background-color: $red;
  border: 2px solid $black;
  box-shadow: 5px 5px 5px $white;
  color: $white;
}

.refresh-button:active {
  background-color: $red;
  border: 2px solid $black;
  box-shadow: 5px 5px 5px $black;
  color: $white;
}

.score-board-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 3px solid $white;
  box-shadow: 0 0 30px $black;
}

.score-board-li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 3vw;
  font-weight: $font-weight - 700;
  font-size: $font-size - 8.5;
  color: $black;
}

.score-board-li:nth-child(odd) {
  background-color: $light-grey;
  color: $red;
}

.score-board-li:nth-child(even) {
  color: $white;
}

.score-board-score {
  margin-left: 10px;
}

.error-message {
  display: none;
  background-color: $test-color;
  font-size: 18px;
  padding: 0 10px;
  text-align: center;
  color: $light-grey;
  font-weight: $font-weight - 500;
}

.value-inputs::placeholder {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .app-header {
    font-size: $font-size - 4;
    text-align: left;
    padding-left: 4vw;
  }

  .main-content {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 10vw;
    padding-left: 10vw;
  }

  .score-keeper {
    min-width: 35vw;
  }

  .refresh-button {
    height: 30px;
    margin: 40px 0;
    border: 2px solid $black;
    box-shadow: 5px 5px 5px $black;
  }

  .form {
    min-width: 15vw;
  }

  .add-score-text {
    font-size: $font-size - 5;
  }

  .recent-scores-text {
    font-size: $font-size - 8;
  }

  .value-inputs {
    min-width: 30vw;
    min-height: 5vh;
    font-size: $font-size - 9;
    font-weight: $font-weight - 200;
    padding-left: 2vw;
  }

  .value-inputs::placeholder {
    text-align: center;
  }
}
